In [1]:
"""
This file should handle the raw csv of pkg20 produced by VTD
"""
import pandas as pd
import numpy as np
import csv

In [2]:
"""
All constants defined here, and we only need to modify here in the future, hopefully.
"""


# A
DATA_DIR = "../raw_data/other/2-18-07/"
SCENE = "2-18-07"
PKG_ID = '20'
FILE_PATH = DATA_DIR + SCENE + "pkg{}.csv".format(PKG_ID)

OUT_DIR = "../processed/processed_0810/"
OUTPUT_PATH = OUT_DIR+SCENE+"pkg{}_del.csv".format(PKG_ID)

# B
# We want id, playerId, roadDist, x,y type, value
# which are in col index 2,3,4,5,6,14,16
index_to_keep = [2,3,4,5,6,14,16]
PATTERN = 21  # number of entries of one road line, which form a pattern
col_of_one = ["signId", "playerId", "roadDist","sign_X", "sign_Y", "type", "value"]


# C
PLACE_HOLDER = 99.99

In [3]:
with open(FILE_PATH, 'r', encoding="utf-8") as csvfile:
    reader = csv.reader(csvfile)
    MAX_LEN = max(len(_) for _ in reader)
    
MAX_LEN

86

In [4]:
original_col_names = ["temp.{}".format(i) for i in range(MAX_LEN)]
df20 = pd.read_csv(FILE_PATH, names=original_col_names, low_memory=False)        

df20.drop(index=0, axis=0, inplace=True)
df20.index -= 1        
      
df20.tail(10)

,temp.0,temp.1,temp.2,temp.3,temp.4,temp.5,temp.6,temp.7,temp.8,temp.9,...,temp.76,temp.77,temp.78,temp.79,temp.80,temp.81,temp.82,temp.83,temp.84,temp.85
4654,4.65E+01,4656,24,1,1.22E+01,3.24E+02,1.10E+00,0.00E+00,-2.80E-03,1.49E-08,...,0,274,55,5.00E+01,0,1,0,0,-99,99
4655,4.66E+01,4657,24,1,1.23E+01,3.24E+02,1.10E+00,0.00E+00,-2.80E-03,1.49E-08,...,0,274,55,5.00E+01,0,1,0,0,-99,99
4656,4.66E+01,4658,24,1,1.24E+01,3.24E+02,1.10E+00,0.00E+00,-2.80E-03,1.49E-08,...,0,274,55,5.00E+01,0,1,0,0,-99,99
4657,4.66E+01,4659,24,1,1.25E+01,3.24E+02,1.10E+00,0.00E+00,-2.80E-03,1.49E-08,...,0,274,55,5.00E+01,0,1,0,0,-99,99
4658,4.66E+01,4660,24,1,1.26E+01,3.24E+02,1.10E+00,0.00E+00,-2.80E-03,1.49E-08,...,0,274,55,5.00E+01,0,1,0,0,-99,99
4659,4.66E+01,4661,24,1,1.27E+01,3.24E+02,1.10E+00,0.00E+00,-2.80E-03,1.49E-08,...,0,274,55,5.00E+01,0,1,0,0,-99,99
4660,4.66E+01,4662,24,1,1.27E+01,3.24E+02,1.10E+00,0.00E+00,-2.80E-03,1.49E-08,...,0,274,55,5.00E+01,0,1,0,0,-99,99
4661,4.66E+01,4663,24,1,1.28E+01,3.24E+02,1.10E+00,0.00E+00,-2.80E-03,1.49E-08,...,0,274,55,5.00E+01,0,1,0,0,-99,99
4662,4.66E+01,4664,24,1,1.29E+01,3.24E+02,1.10E+00,0.00E+00,-2.80E-03,1.49E-08,...,0,274,55,5.00E+01,0,1,0,0,-99,99
4663,4.66E+01,4665,24,1,1.30E+01,3.24E+02,1.10E+00,0.00E+00,-2.80E-03,1.49E-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
rows = df20.shape[0]
num_del = rows%100
df20.drop(labels=range(rows-num_del, rows), axis=0, inplace=True)
df20.shape

(4600, 86)

In [6]:
"""
Other constants which must be defined after reading in df.


Note: when determing number of objs, we use (#cols-2)/PATTERN.
    But quite often, the raw data has an empty column in the end,
    with pandas automatically giving a name "Unnamed.0"
"""
# C
while (len(df20.columns)-2)%PATTERN != 0:
    # del that col
    print("Found an empty col at the end")
    df20.drop(df20.columns[-1], axis=1, inplace=True)
    
    
NUM_OBJS = (len(df20.columns)-2)//PATTERN
BEGIN_IDX = NUM_OBJS # current df has 10 roadlines, 0-9
TARGET = 5 
END_IDX = 5

# Check if it is a whole number
NUM_OBJS

4

In [7]:
"""### Keep those cols we want and check ###"""

# a list of column names to delete
cols_to_del = [name for i, name in enumerate(df20.columns) if i%PATTERN not in index_to_keep and i!=1]
df20 = df20.drop(columns=cols_to_del)

df20.head(10)

,temp.1,temp.2,temp.3,temp.4,temp.5,temp.6,temp.14,temp.16,temp.23,temp.24,...,temp.48,temp.56,temp.58,temp.65,temp.66,temp.67,temp.68,temp.69,temp.77,temp.79
0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
"""### do some simple pre-process and check ###"""
df20.fillna(PLACE_HOLDER, inplace=True)
df20.rename(columns={"temp.1":"simFrame"}, inplace=True)
df20.set_index("simFrame", inplace=True)
df20 = df20[~df20.index.duplicated(keep='first')]


new_names = ["{}_{}".format(name,i) for i in range(NUM_OBJS) for name in col_of_one]
df20.columns = new_names


# format all id entries because they server important use later
print(f"Please check the following value count of id in each {col_of_one[0]} column")
print(f"All id values should either be a non-negative whole number (in int or float) or a place holder {PLACE_HOLDER}")
for i in range(NUM_OBJS):
    df20["{}_{}".format(col_of_one[0], i)] = df20["{}_{}".format(col_of_one[0], i)].apply(lambda x: int(x.strip()) \
                                                                                        if type(x)==str else x)
    print( df20["{}_{}".format(col_of_one[0], i)].value_counts())
    
# append empty colunms to match designated number of lines reserved: 14
for i in range(BEGIN_IDX, END_IDX):
    for name in col_of_one:
        df20[name+'_'+str(i)] = PLACE_HOLDER

        
        
NUM_OBJS = END_IDX
print(df20.shape)
df20.tail(10)

Please check the following value count of id in each signId column
All id values should either be a non-negative whole number (in int or float) or a place holder 99.99
20.00    1305
0.00     1288
23.00     881
24.00     656
99.99     467
21.00       3
Name: signId_0, dtype: int64
23.00    1745
21.00    1305
0.00      567
99.99     467
24.00     314
20.00     199
22.00       3
Name: signId_1, dtype: int64
22.00    1305
24.00     925
99.99     913
0.00      781
20.00     404
21.00     199
25.00      73
Name: signId_2, dtype: int64
99.99    3055
0.00      684
21.00     404
25.00     258
22.00     199
Name: signId_3, dtype: int64
(4600, 35)

,signId_0,playerId_0,roadDist_0,sign_X_0,sign_Y_0,type_0,value_0,signId_1,playerId_1,roadDist_1,...,sign_Y_3,type_3,value_3,signId_4,playerId_4,roadDist_4,sign_X_4,sign_Y_4,type_4,value_4
simFrame,,,,,,,,,,,,,,,,,,,,,
4592,24.0,1,7.03E+00,3.24E+02,1.10E+00,293,3.50E+00,23.0,1,1.01E+02,...,-3.55E+00,274,5.00E+01,99.99,99.99,99.99,99.99,99.99,99.99,99.99
4593,24.0,1,7.11E+00,3.24E+02,1.10E+00,293,3.50E+00,23.0,1,1.01E+02,...,-3.55E+00,274,5.00E+01,99.99,99.99,99.99,99.99,99.99,99.99,99.99
4594,24.0,1,7.20E+00,3.24E+02,1.10E+00,293,3.50E+00,23.0,1,1.01E+02,...,-3.55E+00,274,5.00E+01,99.99,99.99,99.99,99.99,99.99,99.99,99.99
4595,24.0,1,7.28E+00,3.24E+02,1.10E+00,293,3.50E+00,23.0,1,1.01E+02,...,-3.55E+00,274,5.00E+01,99.99,99.99,99.99,99.99,99.99,99.99,99.99
4596,24.0,1,7.36E+00,3.24E+02,1.10E+00,293,3.50E+00,23.0,1,1.01E+02,...,-3.55E+00,274,5.00E+01,99.99,99.99,99.99,99.99,99.99,99.99,99.99
4597,24.0,1,7.44E+00,3.24E+02,1.10E+00,293,3.50E+00,23.0,1,1.01E+02,...,-3.55E+00,274,5.00E+01,99.99,99.99,99.99,99.99,99.99,99.99,99.99
4598,24.0,1,7.52E+00,3.24E+02,1.10E+00,293,3.50E+00,23.0,1,1.01E+02,...,-3.55E+00,274,5.00E+01,99.99,99.99,99.99,99.99,99.99,99.99,99.99
4599,24.0,1,7.60E+00,3.24E+02,1.10E+00,293,3.50E+00,23.0,1,1.01E+02,...,-3.55E+00,274,5.00E+01,99.99,99.99,99.99,99.99,99.99,99.99,99.99
4600,24.0,1,7.68E+00,3.24E+02,1.10E+00,293,3.50E+00,23.0,1,1.01E+02,...,-3.55E+00,274,5.00E+01,99.99,99.99,99.99,99.99,99.99,99.99,99.99
4601,24.0,1,7.76E+00,3.24E+02,1.10E+00,293,3.50E+00,23.0,1,1.02E+02,...,-3.55E+00,274,5.00E+01,99.99,99.99,99.99,99.99,99.99,99.99,99.99

In [10]:
if list(df20.columns):
    print("HAVE")

HAVE

In [11]:
"""
MOST important task: Standardization.

Details explained in the file doc
  
!!! May take quite a long time
"""
print("Sorting started. This may take several seconds up to several minutes, please be patient.")

row_nums = df20.shape[0]    # 4760 this time
jump = len(col_of_one)   # 2

for row in range(row_nums):
    old_row = df20.iloc[row]
    new_row = [ [PLACE_HOLDER]*jump ]*NUM_OBJS
    curr_spot = 1  # for ped cross to determine place
    
    """
    In each row, we want [Speed sign]+[ped cross]*n format
    """
    for idx in range(0, 0 + NUM_OBJS*jump, jump):   # 0, 14, 28, ...
        signId = old_row[idx]
        signType = int(old_row[idx+5])
        
        if signType == 293:
            # ped crossing case, several of them can be sensored at one given frame:
            new_row[curr_spot] = list(old_row[idx:idx+jump])
            curr_spot += 1
            
        elif signId == 0:
            # speed limit sign case
            # signId = int(signId)
            # align sign with signId=0 at first
            new_row[0] = list(old_row[idx:idx+jump])
            
    try:
    # sort the list inplace; we use first num of sublist to sort (signId), so don't need key=xxx
        new_row[1:] = sorted(new_row[1:])
    except TypeError as te:
        print(new_row)
        break
    # flat the list
    new_row = [item for sublist in new_row for item in sublist]
    df20.iloc[row] = new_row

"""
# do the check after the sort, there should be no output if it's correct
for i in range(END_IDX):
    type_count = dict(df20["{}_{}".format(col_of_one[5], i)].value_counts())
    assert len(type_count) <= 2
"""    
    
print("Work complete. Proceed to csv of pkg10.")

Sorting started. This may take several seconds up to several minutes, please be patient.
Work complete. Proceed to csv of pkg10.

In [12]:
for name in df20.columns:
    if "playerId" in name:
        print(df20[name].value_counts())

1        3320
99.99    1280
Name: playerId_0, dtype: int64
1        2626
99.99    1974
Name: playerId_1, dtype: int64
99.99    2705
1        1895
Name: playerId_2, dtype: int64
99.99    4269
1         331
Name: playerId_3, dtype: int64
99.99    4600
Name: playerId_4, dtype: int64

In [13]:
for name in df20.columns:
    if "signId" in name:
        print(df20[name].value_counts())

0.00     3320
99.99    1280
Name: signId_0, dtype: int64
23.00    2626
99.99    1974
Name: signId_1, dtype: int64
99.99    2705
24.00    1895
Name: signId_2, dtype: int64
99.99    4269
25.00     331
Name: signId_3, dtype: int64
99.99    4600
Name: signId_4, dtype: int64

In [20]:
for name in df20.columns:
    if "type" in name:
        assert len( dict(df20[name].value_counts()))<=2

In [ ]:
# Prepare, define in B
id_col = []
roadDist_col = []
value_col = []
row_num = df20.shape[0]    # Should be 4664 this time

if not list(df20.columns):
    # For pkg 20, there could be no valid data at all (empty df with no cols)
    print("Got an empty df")
    id_col = [PLACE_HOLDER]*row_num
    roadDist_col = [PLACE_HOLDER]*row_num
    value_col = [PLACE_HOLDER]*row_num
    
    
else:
    got = False
    # Start to loop
    for row in range(row_num):
        this_row = df20.iloc[row]
        got = False
        for i in range(NUM_OBJS):
            if this_row["signId.{}".format(i)] == 0:
                id_col.append(this_row["signId.{}".format(i)])
                roadDist_col.append(this_row["roadDist.{}".format(i)])
                value_col.append(this_row["value.{}".format(i)])
                got = True
                break
        if not got:
            # Strange thing found: some rows (<100 out of 8000+) have no data of ego car
            id_col.append(PLACE_HOLDER)
            roadDist_col.append(PLACE_HOLDER)
            value_col.append(PLACE_HOLDER)
            # print("row num: ", row)

    # IMPORTANT: since each row must have ego car data, they should match
    print(len(roadDist_col), len(value_col), row_num, len(id_col))

In [ ]:
df20_new = pd.DataFrame({
    'simFrame': df20.index,
    "signId": id_col,
    "roadDist": roadDist_col,
    "value": value_col
})
df20_new.set_index('simFrame', inplace=True)
df20_new

In [ ]:
# do the check after the sort, there should be no output if it's correct
assert len(df20_new["signId"].value_counts()) <=2, "still has id other than 0 and place_holder"

In [ ]:
df20_new.to_csv(OUTPUT_PATH)